In [1]:
import pandas as pd
from Modul._2_preprocessing_data import cleaning_data
from Modul._3_feature_extraction import tfidf

In [2]:
from warnings import filterwarnings
filterwarnings("ignore")

In [3]:
df_train = pd.read_csv('Output/2_Preprocessing_Data/train.csv', usecols=['text_preprocessed', 'sentiment'])
df_test = pd.read_csv('Output/2_Preprocessing_Data/test.csv', usecols=['text_preprocessed', 'sentiment'])
display(df_train)
display(df_test)

      sentiment                                  text_preprocessed
0            -1  presiden hebat anies capai lihat ganjar prabow...
1             0  tuju tangkal anies kemarin biar anies omong ad...
2             0  doa tiga malam dok laku nama anies muhaiminkan...
3             0  bude pakai etika pas duo cawapres serang bocil...
4             1  ganjar mahfud paham petugas pajak integritas k...
...         ...                                                ...
7262          1                       deh hebat gibran diam tonton
7263          1                 mampu pimpin mas gibran ragu hebat
7264          0  singkat anies tutup wawancara pers debat termi...
7265          1  tuan rumah negeri tamu pesona negeri orang kon...
7266          0       amin anies baswedan muhaimin iskandar sa via

[7267 rows x 2 columns]

      sentiment                                  text_preprocessed
0             0  halo debat capres dunia peserta nya nilai turu...
1             1                         anies efek gus imin cerdas
2            -1                         malu walikota model gibran
3             0  capresnya singgung etika anies wakil etika mah...
4             1  mas gibran pimpin cerdas rakyat sukses mas gib...
...         ...                                                ...
1904          0  surat mandat teman saksi pulang aji rutin kah ...
1905          0  lupa info rekan rekan guru honorer iya rekam j...
1906          1  investor harga upaya ganjar mahfud cipta trans...
1907          0  tkn prabowo gibran hampir moderator debat kpu ...
1908          0  gilir gibran katai sombong lihat anies ganjar ...

[1909 rows x 2 columns]

In [4]:
display(df_train.shape)
display(df_train['text_preprocessed'].duplicated().sum())
display(df_train.isnull().sum())
df_train = cleaning_data(df_train, subset=['text_preprocessed'])
display(df_train.shape)

(7267, 2)

285

sentiment            0
text_preprocessed    7
dtype: int64

(6981, 2)

In [5]:
display(df_test.shape)
display(df_test['text_preprocessed'].duplicated().sum())
display(df_test.isnull().sum())
df_test = cleaning_data(df_test, subset=['text_preprocessed'])
display(df_test.shape)

(1909, 2)

35

sentiment            0
text_preprocessed    2
dtype: int64

(1873, 2)

In [6]:
tfidf_df_train = tfidf(df_train)
tfidf_df_test = tfidf(df_test)
display(tfidf_df_train)
display(tfidf_df_test)

,aa,aamiin,abad,abadi,abah,abai,abal,abang,abangan,abdee,...,zikir,zionis,zjk,zodiak,zon,zona,zonk,zul,zulhas,zulkifli
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6976,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6977,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6978,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6979,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6980,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,aa,abadi,abah,abai,abal,abang,abdi,abdul,abu,acah,...,zainal,zakir,zalim,zaman,zar,zidane,zionis,zon,zulhas,zulkifli
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1868,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1869,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1870,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1871,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1872,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
tfidf_df_train.to_parquet('Output/3_Feature_Extraction/train_tfidf.parquet', index=False)
tfidf_df_test.to_parquet('Output/3_Feature_Extraction/test_tfidf.parquet', index=False)

In [8]:
df_train.to_csv('Output/3_Feature_Extraction/train.csv', index=False)
df_test.to_csv('Output/3_Feature_Extraction/test.csv', index=False)